<div class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.marca }}">
        <div class="card-body">
            <h5 class="card-title">{{ product.marca }}</h5>
            <p class="card-text">{{ product.category|truncatewords:20 }}</p>
            <p class="card-text">{{ product.description|truncatewords:20 }}</p>
            <p class="card-text"><strong>Precio:</strong> ${{ product.price }}</p>
            <p class="card-text"><strong>Vendedor:</strong> {{ product.vendedor }}</p>
        </div>
    </div>
</div>