<header>
    <div class="container">
        <h1>Chrono25</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Registro</a></li>
                {% endif %}
                <li><a href="{% url 'contact' %}">Contacto</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'profile_detail' request.user.profile.pk %}">Mi perfil</a></li>
                <li><a href="{% url 'reloj_create'  %}">Nuevo Reloj</a></li>
                <li><a href="{% url 'ver_carrito_cbv' %}">Carrito</a></li>
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>