{% extends 'general/layout.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Binvenido a Chrono25{% endblock %}

{% block page_content %}

<div class="container">
    {% include '_includes/_menssages.html' %}
    <h1>Nuevo Reloj</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-sm-6">
                {{form.marca|as_crispy_field}}
                {{form.modelo|as_crispy_field}}
                {{form.image|as_crispy_field}}
                {{form.description|as_crispy_field}}
                {{form.price|as_crispy_field}}
            </div>
        </div>
        <button class="btn btn-secondary">Nuevo reloj</button>
    </form>
</div>

{% endblock %}