{% extends 'general/layout.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Chrono25{% endblock %}

{% block page_content %}

<div class="container">
    {% include '_includes/_menssages.html' %}
    <h1>Homepage</h1>
    <p>¡Bienvenido a Chrono25</p>
    <div class="row">
        {% for reloj in page_obj %}
            <div class="col-12 col-sm-6 col-md-4">
                {% include '_includes/reloj/_reloj.html' %}
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">Primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}

