{% extends 'general/layout.html' %}

{% block head_title %}Pagina Home{% endblock %}


{% block page_content %}
{% include '_includes/_messages.html' %}

    <div class="container">
        <h1>Bienvenido a Chrono25</h1>
        <section>
            <h2>Relojes en venta</h2>
            <div class="row">
                {% for product in products %}
                    {% include '_includes/product/_product.html' %}
                {% empty %}
                <p>No hay relojes en venta actualmente.</p>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}