{% extends 'general/layout.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Chrono25{% endblock %}

{% block page_content %}

<div class="container">
    {% include '_includes/_menssages.html' %}
    <h1>Mi Perfil</h1>
    <p>¡Bienvenido a Chrono25 este es el perfil de {{request.user.username}}</p>
    <p>País: {{profile.pais}}</p>
    {% if UserProfile.profile_picture %}
        <p>Fotografía:</p><img src="{{profile.profile_picture.url}}" alt="Fotografía de perfil" width="200" height="200" style="border-radius: 50%;">
    {% else %}
        <p>No has subido una fotografía de perfil.</p>
    {% endif %}

    <p><a href="{% url 'profile_update' profile.pk %}">Editar</a></p>

</div>

{% endblock %}