{% extends 'general/layout.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Chrono25{% endblock %}

{% block page_content %}

<div class="container">
    {% include '_includes/_menssages.html' %}
    <h1>Mi Perfil</h1>
    <p>¡Bienvenido a Chrono25 este es el perfil de {{request.user.username}}</p>
    <p>País: {{profile.pais}}</p>
    {% if profile.profile_picture %}
        <p>Fotografía:</p><img src="{{profile.profile_picture.url}}" alt="Fotografía de perfil" width="200" height="200" style="border-radius: 50%;">
    {% else %}
        <p>No has subido una fotografía de perfil.</p>
    {% endif %}
    {% if profile.user == request.user %}
        <p><a href="{% url 'profile_update' profile.pk %}">Editar</a></p>
    {% endif %}
</div>
<div class="container">
    <h2>Relojes en venta</h2>
    <div class="row">
        {% for reloj in profile.user.reloj.all %}
            <div class="col-12 col-sm-6 col-md-4">
                {% include '_includes/reloj/_reloj.html' %}
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}